@import url(./reset.scss);

/* 修改滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
  /* 设置滚动条的宽度 */
  border-radius: 5px;
  /* 设置滚动条的圆角 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* 设置滚动条轨道的背景色 */
  border-radius: 5px;
  /* 设置滚动条轨道的圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* 设置滚动条滑块的背景色 */
  border-radius: 5px;
  /* 设置滚动条滑块的圆角 */
}

/* 鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* 设置鼠标悬停时滚动条滑块的背景色 */
  border-radius: 5px;
  /* 设置鼠标悬停时滚动条滑块的圆角 */
}

.el-overlay {
  .el-dialog {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    .el-dialog__header {
      padding: 16px;
      background-color: var(--el-color-primary-light-5);
      align-items: center;
      display: flex;
      .el-dialog__headerbtn{
        transform: translateY(4px);
      }
    }

    .el-dialog__body {
      padding: 16px;
    }
    .el-dialog__footer{
      padding: 16px;
    }
  }
}